<h2>sensors</h2>



<div class="clr-row" style="margin-top: 5rem;">

    <div class="clr-col-lg-2 clr-col-md-4 clr-col-12">
        <div class="card">
            <div class="card-header">
                humidity sensor
            </div>
            <div class="card-img">
                <img src="./../../../assets/sensor-hr202.JPG" alt="..." />
            </div>
            <div class="card-block">
                <div class="card-title">HR202</div>
                <div class="card-text">
                    The HR202 is a resistive humidity sensor. Designed for indoor, medical and industrial control
                    systems the sensor is
                    very durable.
                </div>
            </div>
        </div>
    </div>

    <div class="clr-col-lg-2 clr-col-md-4 clr-col-12">
        <div class="card">
            <div class="card-header">
                temperature sensor
            </div>
            <div class="card-img">
                <img src="./../../../assets/sensor-bme280.jpg" alt="..." />
            </div>
            <div class="card-block">
                <div class="card-title">BME280</div>
                <div class="card-text">
                    BME280 is a combination of three sensors. It can sense temperature, humidity and barometric
                    preasure.
                </div>
            </div>
        </div>
    </div>

    <div class="clr-col-lg-2 clr-col-md-4 clr-col-12">
        <div class="card">
            <div class="card-header">
                barometric sensor
            </div>
            <div class="card-img">
                <img src="./../../../assets/sensor-bme280.jpg" alt="..." />
            </div>
            <div class="card-block">
                <div class="card-title">BME280</div>
                <div class="card-text">
                    barometric preasure is used for calculating weather forecasts an sensor location.
                </div>
            </div>
        </div>
    </div>

    <div class="clr-col-lg-2 clr-col-md-4 clr-col-12">
        <div class="card">
            <div class="card-header">
                UV sensor
            </div>
            <div class="card-img">
                <img src="./../../../assets/sensor-ml8511.jpg" alt="..." />
            </div>
            <div class="card-block">
                <div class="card-title">ML8511</div>
                <div class="card-text">
                    Used to get direct sun screening times.
                </div>
            </div>
        </div>
    </div>

</div>
