<div class="clr-row">
    <div class="clr-col-12" style="text-align: justify;">
        <h1>A LORA-based sensor network for agriculture</h1>
        <p class="p1">
            ESI.env is a LORA-based sensor network designed for wineyards. We try to provide a backbone to collect data
            like temperature, humidity or rain.
            The projekt was started for the MILSET ESI Science Faire in Abu Dhabi. Working together with Albrecht
            Kiessling Wineyard in Heilbronn, Germany.
        </p>
        <p>
            In germany we are facing a massiv shortage on water, especialy for farming purposes. Ti use the available
            water more efficient,
            it is neccecary to know where water is needed and to water the wineyards more selective. To do so we are
            collecting environmental data to analyse an
            show them on a map. This maps can be used by farmers to optimize water usage.
        </p>
        <p>
            The sensors send their data using LoraWAN - a ultra low power radio transmission. We will use solar panels
            to power the sensor stations.
        </p>
        <p>
            As the project is still under heavy development, we have build some test sensors to get some data to work
            with.
            But we do not have real statistics or analytics at this time.
        </p>
    </div>
</div>

<div class="clr-row" style="margin-top: 5rem;">
        <div class="clr-col-lg-4 clr-col-md-6 clr-col-12">
                <div class="card">
                    <div class="card-header">
                        LORA
                    </div>
                    <div class="card-block">
                        <div class="card-text">
                                LoRa (Long Range) is a spread spectrum modulation technique derived from chirp spread spectrum (CSS)
                                technology and is the first low-cost implementation of chirp spread spectrum for commercial
                                usage. It was developed by Cycleo of Grenoble, France, and acquired by Semtech in 2012, a
                                founding member of the LoRa Alliance.
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="https://en.wikipedia.org/wiki/LoRa" target="blank" class="btn btn-sm btn-link">Definition from Wikipedia</a>
                    </div>
                </div>
            </div>

            <div class="clr-col-lg-4 clr-col-md-6 clr-col-12">
                    <div class="card">
                        <div class="card-header">
                            Sensors
                        </div>
                        <div class="card-block">
                            <div class="card-text">
                                <p>
                                    We are using a couple if different sensors for our data aggregation. 
                                    The sensors we are using are low price default sensors. 
                                    Those are easy available and affordable but not always perfectly working.
                                </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a  routerLink="/sensors" class="btn btn-sm btn-link">See sensor list</a>
                        </div>
                    </div>
                </div>
</div>