<div class="clr-row">
    <div class="clr-col-lg-10 clr-col-md-12 clr-col-12">
        <div id="mapid" style="width: 100%; height: 90vh;"></div>
    </div>
    <div class="clr-col-lg-2 clr-col-md-12 clr-col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Node</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of data">
                    <td>{{ d.time | date: 'dd.MM.yy HH:mm:ss'}}</td>
                    <td>{{ d.id }}</td>
                    <td>{{ d.value }} °C</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>