<div style="display: flex; height: 100%; align-items: stretch;">
    <div id="mapid" style="width: 100%;"></div>
    <div style="width: 30%; padding-left: 20px;">
        <table class="table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Node</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let d of data">
                        <td>{{ d.time | date: 'dd.MM.yy HH:mm:ss'}}</td>
                        <td>{{ d.id }}</td>
                        <td>{{ d.value }} °C</td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>